In [18]:
import kagglehub
import os
import numpy as np
import pandas as pd
import sklearn as sk
from sklearn.preprocessing import OneHotEncoder

In [ ]:
df = pd.read_csv('lung_cancer_dataset.csv')
df

,patient_id,age,gender,pack_years,radon_exposure,asbestos_exposure,secondhand_smoke_exposure,copd_diagnosis,alcohol_consumption,family_history,lung_cancer
0,100000,69,Male,66.025244,High,No,No,Yes,Moderate,No,No
1,100001,32,Female,12.780800,High,No,Yes,Yes,Moderate,Yes,Yes
2,100002,89,Female,0.408278,Medium,Yes,Yes,Yes,NaN,No,Yes
3,100003,78,Female,44.065232,Low,No,Yes,No,Moderate,No,Yes
4,100004,38,Female,44.432440,Medium,Yes,No,Yes,NaN,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...
49995,149995,81,Female,9.386431,Medium,No,Yes,No,Moderate,No,Yes
49996,149996,28,Male,99.471718,Medium,No,Yes,No,Moderate,No,Yes
49997,149997,90,Male,14.349722,Low,Yes,Yes,No,Heavy,Yes,Yes
49998,149998,33,Female,87.012555,Medium,No,No,Yes,Moderate,No,No
49999,149999,31,Male,37.596851,Low,No,No,Yes,NaN,Yes,Yes

In [ ]:
encoder = OneHotEncoder(sparse_output=False)
categorical_columns =['gender']
one_hot_encoded = encoder.fit_transform(df[categorical_columns])
one_hot_df = pd.DataFrame(one_hot_encoded, columns=encoder.get_feature_names_out(categorical_columns))
df_encoded = pd.concat([df.drop(categorical_columns, axis=1)], one_hot_df, axis=1)

       gender_Female  gender_Male
0                0.0          1.0
1                1.0          0.0
2                1.0          0.0
3                1.0          0.0
4                1.0          0.0
...              ...          ...
49995            1.0          0.0
49996            0.0          1.0
49997            0.0          1.0
49998            1.0          0.0
49999            0.0          1.0

[50000 rows x 2 columns]